src/**
test/**
.vscode/**
tsconfig.json
*.code-workspace
*.vsix
node_modules/typescript/**
node_modules/@types/**
**/*.map
.gitignore
node_modules/cpu-features/**
node_modules/buildcheck/**
node_modules/nan/**
node_modules/ssh2/lib/protocol/crypto/build/**
node_modules/ssh2/lib/protocol/crypto/src/**
AGENTS.md

.npm-cache/**
